<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>NAme</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type ="button" class= "btn btn-primary drpodown-toggle">Manage<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#"></a>To</li>
                <li><a href="#"></a>Edit</li>
                <li><a href="#"></a>Delete</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>
