<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404 </h1>
        </div>
        <h2>Adich Poy Guys</h2>
        <p><marquee direction = "right" scrollamount=30>Sorry but the </marquee><br><marquee scrollamount=15>page</marquee><br><marquee direction = "right" scrollamount=60> you are </marquee><br><marquee scrollamount=33>looking for </marquee><br><marquee direction = "right" scrollamount=45>does not </marquee><br><marquee scrollamount=25>exist, </marquee><br><marquee direction = "right" scrollamount=30>have been </marquee><br><marquee scrollamount=47>removed. </marquee><br><marquee direction = "right" scrollamount=22>name changed </marquee><br><marquee scrollamount=22>or is </marquee><br><marquee direction = "right" scrollamount=57> temporarily </marquee><br><marquee scrollamount=15>unavailable</marquee></p>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Go To Homepage</a>
    </div>
</div>
<!-- <div style="position: absolute;right: 20%;bottom: 30%;">
    <span style='font-size:300px;'>&#10060;</span>
</div> -->

